--
-- PostgreSQL database dump
--

\restrict xUgNCanteOacbVAnSzAlnFZAAf81rMeTMDb8Txeq572gu2eoxrERk7atgNXi2Yd

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: admin_role; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.admin_role AS ENUM (
    'SUPERADMIN',
    'ADMIN',
    'FINANCE',
    'CS_LEAD',
    'CS'
);


ALTER TYPE public.admin_role OWNER TO gate;

--
-- Name: audit_action; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.audit_action AS ENUM (
    'CREATE',
    'UPDATE',
    'DELETE',
    'LOGIN',
    'LOGOUT'
);


ALTER TYPE public.audit_action OWNER TO gate;

--
-- Name: currency_code; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.currency_code AS ENUM (
    'IDR',
    'MYR',
    'PHP',
    'SGD',
    'THB'
);


ALTER TYPE public.currency_code OWNER TO gate;

--
-- Name: deposit_status; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.deposit_status AS ENUM (
    'PENDING',
    'SUCCESS',
    'FAILED',
    'EXPIRED',
    'REFUNDED'
);


ALTER TYPE public.deposit_status OWNER TO gate;

--
-- Name: fee_type; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.fee_type AS ENUM (
    'FIXED',
    'PERCENTAGE',
    'MIXED'
);


ALTER TYPE public.fee_type OWNER TO gate;

--
-- Name: field_type; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.field_type AS ENUM (
    'text',
    'number',
    'email',
    'select',
    'phone'
);


ALTER TYPE public.field_type OWNER TO gate;

--
-- Name: health_status; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.health_status AS ENUM (
    'HEALTHY',
    'DEGRADED',
    'UNHEALTHY'
);


ALTER TYPE public.health_status OWNER TO gate;

--
-- Name: membership_level; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.membership_level AS ENUM (
    'CLASSIC',
    'PRESTIGE',
    'ROYAL'
);


ALTER TYPE public.membership_level OWNER TO gate;

--
-- Name: mfa_status; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.mfa_status AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public.mfa_status OWNER TO gate;

--
-- Name: mutation_type; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.mutation_type AS ENUM (
    'CREDIT',
    'DEBIT'
);


ALTER TYPE public.mutation_type OWNER TO gate;

--
-- Name: payment_status; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.payment_status AS ENUM (
    'UNPAID',
    'PAID',
    'EXPIRED',
    'REFUNDED'
);


ALTER TYPE public.payment_status OWNER TO gate;

--
-- Name: payment_type; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.payment_type AS ENUM (
    'purchase',
    'deposit'
);


ALTER TYPE public.payment_type OWNER TO gate;

--
-- Name: region_code; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.region_code AS ENUM (
    'ID',
    'MY',
    'PH',
    'SG',
    'TH'
);


ALTER TYPE public.region_code OWNER TO gate;

--
-- Name: transaction_status; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.transaction_status AS ENUM (
    'PENDING',
    'PAID',
    'PROCESSING',
    'SUCCESS',
    'FAILED',
    'EXPIRED',
    'REFUNDED'
);


ALTER TYPE public.transaction_status OWNER TO gate;

--
-- Name: user_status; Type: TYPE; Schema: public; Owner: gate
--

CREATE TYPE public.user_status AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


ALTER TYPE public.user_status OWNER TO gate;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: gate
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO gate;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_sessions; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.admin_sessions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    admin_id uuid NOT NULL,
    refresh_token_hash character varying(255) NOT NULL,
    ip_address inet,
    user_agent text,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.admin_sessions OWNER TO gate;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.admins (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(200) NOT NULL,
    email character varying(255) NOT NULL,
    phone_number character varying(20),
    password_hash character varying(255) NOT NULL,
    role_id uuid NOT NULL,
    status public.user_status DEFAULT 'ACTIVE'::public.user_status,
    mfa_enabled boolean DEFAULT false,
    mfa_secret character varying(255),
    mfa_backup_codes text[],
    last_login_at timestamp with time zone,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.admins OWNER TO gate;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    admin_id uuid,
    admin_name character varying(200),
    admin_email character varying(255),
    action public.audit_action NOT NULL,
    resource character varying(100) NOT NULL,
    resource_id uuid,
    description text,
    changes jsonb,
    ip_address inet,
    user_agent text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.audit_logs OWNER TO gate;

--
-- Name: banner_regions; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.banner_regions (
    banner_id uuid NOT NULL,
    region_code public.region_code NOT NULL
);


ALTER TABLE public.banner_regions OWNER TO gate;

--
-- Name: banners; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.banners (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    href character varying(500),
    image character varying(500) NOT NULL,
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    start_at timestamp with time zone,
    expired_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.banners OWNER TO gate;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(50) NOT NULL,
    title character varying(100) NOT NULL,
    description text,
    icon character varying(500),
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.categories OWNER TO gate;

--
-- Name: category_regions; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.category_regions (
    category_id uuid NOT NULL,
    region_code public.region_code NOT NULL
);


ALTER TABLE public.category_regions OWNER TO gate;

--
-- Name: contacts; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.contacts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255),
    phone character varying(50),
    whatsapp character varying(500),
    instagram character varying(500),
    facebook character varying(500),
    x character varying(500),
    youtube character varying(500),
    telegram character varying(500),
    discord character varying(500),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.contacts OWNER TO gate;

--
-- Name: deposit_logs; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.deposit_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    deposit_id uuid NOT NULL,
    status character varying(50) NOT NULL,
    message text,
    data jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.deposit_logs OWNER TO gate;

--
-- Name: deposits; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.deposits (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    invoice_number character varying(50) NOT NULL,
    user_id uuid NOT NULL,
    amount bigint NOT NULL,
    payment_fee bigint DEFAULT 0,
    total_amount bigint NOT NULL,
    currency public.currency_code NOT NULL,
    payment_channel_id uuid NOT NULL,
    payment_gateway_id uuid,
    payment_gateway_ref_id character varying(255),
    payment_data jsonb,
    status public.deposit_status DEFAULT 'PENDING'::public.deposit_status,
    balance_before bigint,
    balance_after bigint,
    region public.region_code NOT NULL,
    ip_address inet,
    user_agent text,
    confirmed_by uuid,
    confirmed_at timestamp with time zone,
    cancelled_by uuid,
    cancelled_at timestamp with time zone,
    cancel_reason text,
    paid_at timestamp with time zone,
    expired_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.deposits OWNER TO gate;

--
-- Name: email_verifications; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.email_verifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    token_hash character varying(255) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    verified_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.email_verifications OWNER TO gate;

--
-- Name: languages; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.languages (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(10) NOT NULL,
    name character varying(100) NOT NULL,
    country character varying(100) NOT NULL,
    image character varying(500),
    is_default boolean DEFAULT false,
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.languages OWNER TO gate;

--
-- Name: mutations; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.mutations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    invoice_number character varying(50),
    reference_type character varying(50) NOT NULL,
    reference_id uuid,
    description text NOT NULL,
    mutation_type public.mutation_type NOT NULL,
    amount bigint NOT NULL,
    balance_before bigint NOT NULL,
    balance_after bigint NOT NULL,
    currency public.currency_code NOT NULL,
    admin_id uuid,
    admin_note text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.mutations OWNER TO gate;

--
-- Name: password_resets; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.password_resets (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    token_hash character varying(255) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.password_resets OWNER TO gate;

--
-- Name: payment_channel_categories; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.payment_channel_categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(50) NOT NULL,
    title character varying(100) NOT NULL,
    icon character varying(500),
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.payment_channel_categories OWNER TO gate;

--
-- Name: payment_channel_gateways; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.payment_channel_gateways (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    channel_id uuid NOT NULL,
    gateway_id uuid NOT NULL,
    payment_type public.payment_type NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.payment_channel_gateways OWNER TO gate;

--
-- Name: payment_channel_regions; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.payment_channel_regions (
    channel_id uuid NOT NULL,
    region_code public.region_code NOT NULL
);


ALTER TABLE public.payment_channel_regions OWNER TO gate;

--
-- Name: payment_channels; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.payment_channels (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    image character varying(500),
    category_id uuid,
    fee_type public.fee_type DEFAULT 'PERCENTAGE'::public.fee_type,
    fee_amount bigint DEFAULT 0,
    fee_percentage numeric(5,2) DEFAULT 0,
    min_fee bigint DEFAULT 0,
    max_fee bigint DEFAULT 0,
    min_amount bigint DEFAULT 0,
    max_amount bigint DEFAULT 0,
    supported_types public.payment_type[] DEFAULT ARRAY['purchase'::public.payment_type, 'deposit'::public.payment_type],
    instruction text,
    is_active boolean DEFAULT true,
    is_featured boolean DEFAULT false,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    gateway_code character varying(50) DEFAULT ''::character varying
);


ALTER TABLE public.payment_channels OWNER TO gate;

--
-- Name: COLUMN payment_channels.gateway_code; Type: COMMENT; Schema: public; Owner: gate
--

COMMENT ON COLUMN public.payment_channels.gateway_code IS 'Gateway-specific code for this payment channel (e.g., bank code 002 for BRI)';


--
-- Name: payment_gateways; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.payment_gateways (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    base_url character varying(500) NOT NULL,
    callback_url character varying(500),
    is_active boolean DEFAULT true,
    supported_methods text[],
    supported_types public.payment_type[],
    health_status public.health_status DEFAULT 'HEALTHY'::public.health_status,
    last_health_check timestamp with time zone,
    api_config jsonb DEFAULT '{"timeout": 30000, "retryAttempts": 3}'::jsonb,
    status_mapping jsonb DEFAULT '{}'::jsonb,
    env_credential_keys jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.payment_gateways OWNER TO gate;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.permissions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    category character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.permissions OWNER TO gate;

--
-- Name: popups; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.popups (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    region_code public.region_code NOT NULL,
    title character varying(200),
    content text,
    image character varying(500),
    href character varying(500),
    is_active boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.popups OWNER TO gate;

--
-- Name: product_fields; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.product_fields (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    product_id uuid NOT NULL,
    name character varying(100) NOT NULL,
    key character varying(50) NOT NULL,
    field_type public.field_type NOT NULL,
    label character varying(200) NOT NULL,
    placeholder character varying(200),
    hint text,
    pattern character varying(255),
    is_required boolean DEFAULT true,
    min_length integer,
    max_length integer,
    options jsonb,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.product_fields OWNER TO gate;

--
-- Name: product_regions; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.product_regions (
    product_id uuid NOT NULL,
    region_code public.region_code NOT NULL
);


ALTER TABLE public.product_regions OWNER TO gate;

--
-- Name: product_sections; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.product_sections (
    product_id uuid NOT NULL,
    section_id uuid NOT NULL
);


ALTER TABLE public.product_sections OWNER TO gate;

--
-- Name: products; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.products (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(50) NOT NULL,
    slug character varying(100) NOT NULL,
    title character varying(200) NOT NULL,
    subtitle character varying(200),
    description text,
    publisher character varying(200),
    thumbnail character varying(500),
    banner character varying(500),
    category_id uuid NOT NULL,
    is_active boolean DEFAULT true,
    is_popular boolean DEFAULT false,
    features jsonb DEFAULT '[]'::jsonb,
    how_to_order jsonb DEFAULT '[]'::jsonb,
    tags text[],
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    inquiry_slug character varying(100)
);


ALTER TABLE public.products OWNER TO gate;

--
-- Name: promo_payment_channels; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.promo_payment_channels (
    promo_id uuid NOT NULL,
    channel_id uuid NOT NULL
);


ALTER TABLE public.promo_payment_channels OWNER TO gate;

--
-- Name: promo_products; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.promo_products (
    promo_id uuid NOT NULL,
    product_id uuid NOT NULL
);


ALTER TABLE public.promo_products OWNER TO gate;

--
-- Name: promo_regions; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.promo_regions (
    promo_id uuid NOT NULL,
    region_code public.region_code NOT NULL
);


ALTER TABLE public.promo_regions OWNER TO gate;

--
-- Name: promo_usages; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.promo_usages (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    promo_id uuid NOT NULL,
    user_id uuid,
    transaction_id uuid,
    device_id character varying(255),
    ip_address inet,
    discount_amount bigint NOT NULL,
    used_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.promo_usages OWNER TO gate;

--
-- Name: promos; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.promos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(50) NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    note text,
    max_usage integer,
    max_daily_usage integer,
    max_usage_per_id integer DEFAULT 1,
    max_usage_per_device integer DEFAULT 1,
    max_usage_per_ip integer DEFAULT 1,
    min_amount bigint DEFAULT 0,
    max_promo_amount bigint,
    promo_flat bigint DEFAULT 0,
    promo_percentage numeric(5,2) DEFAULT 0,
    days_available text[],
    start_at timestamp with time zone,
    expired_at timestamp with time zone,
    is_active boolean DEFAULT true,
    total_usage integer DEFAULT 0,
    total_discount_given bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.promos OWNER TO gate;

--
-- Name: providers; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.providers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    base_url character varying(500) NOT NULL,
    webhook_url character varying(500),
    is_active boolean DEFAULT true,
    priority integer DEFAULT 0,
    supported_types text[],
    health_status public.health_status DEFAULT 'HEALTHY'::public.health_status,
    last_health_check timestamp with time zone,
    api_config jsonb DEFAULT '{"timeout": 30000, "retryDelay": 1000, "retryAttempts": 3}'::jsonb,
    status_mapping jsonb DEFAULT '{}'::jsonb,
    env_credential_keys jsonb DEFAULT '{}'::jsonb,
    total_skus integer DEFAULT 0,
    active_skus integer DEFAULT 0,
    success_rate numeric(5,2) DEFAULT 0,
    avg_response_time integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.providers OWNER TO gate;

--
-- Name: refunds; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.refunds (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    transaction_id uuid,
    deposit_id uuid,
    invoice_number character varying(50) NOT NULL,
    amount bigint NOT NULL,
    currency public.currency_code NOT NULL,
    refund_to character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'PROCESSING'::character varying,
    reason text,
    processed_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    completed_at timestamp with time zone,
    CONSTRAINT refund_has_reference CHECK ((((transaction_id IS NOT NULL) AND (deposit_id IS NULL)) OR ((transaction_id IS NULL) AND (deposit_id IS NOT NULL))))
);


ALTER TABLE public.refunds OWNER TO gate;

--
-- Name: regions; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.regions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code public.region_code NOT NULL,
    country character varying(100) NOT NULL,
    currency public.currency_code NOT NULL,
    currency_symbol character varying(10) NOT NULL,
    image character varying(500),
    is_default boolean DEFAULT false,
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.regions OWNER TO gate;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.role_permissions (
    role_id uuid NOT NULL,
    permission_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.role_permissions OWNER TO gate;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.roles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code public.admin_role NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    level integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.roles OWNER TO gate;

--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.schema_migrations (
    version bigint NOT NULL,
    dirty boolean NOT NULL
);


ALTER TABLE public.schema_migrations OWNER TO gate;

--
-- Name: sections; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.sections (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(50) NOT NULL,
    title character varying(100) NOT NULL,
    icon character varying(50),
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.sections OWNER TO gate;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.settings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    category character varying(50) NOT NULL,
    key character varying(100) NOT NULL,
    value jsonb NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.settings OWNER TO gate;

--
-- Name: sku_pricing; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.sku_pricing (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    sku_id uuid NOT NULL,
    region_code public.region_code NOT NULL,
    currency public.currency_code NOT NULL,
    buy_price bigint NOT NULL,
    sell_price bigint NOT NULL,
    original_price bigint NOT NULL,
    margin_percentage numeric(5,2) GENERATED ALWAYS AS (
CASE
    WHEN (buy_price > 0) THEN ((((sell_price - buy_price))::numeric / (buy_price)::numeric) * (100)::numeric)
    ELSE (0)::numeric
END) STORED,
    discount_percentage numeric(5,2) GENERATED ALWAYS AS (
CASE
    WHEN (original_price > 0) THEN ((((original_price - sell_price))::numeric / (original_price)::numeric) * (100)::numeric)
    ELSE (0)::numeric
END) STORED,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.sku_pricing OWNER TO gate;

--
-- Name: skus; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.skus (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(100) NOT NULL,
    provider_sku_code character varying(100) NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    image character varying(500),
    info text,
    product_id uuid NOT NULL,
    provider_id uuid NOT NULL,
    section_id uuid,
    process_time integer DEFAULT 0,
    is_active boolean DEFAULT true,
    is_featured boolean DEFAULT false,
    badge_text character varying(50),
    badge_color character varying(20),
    stock_status character varying(20) DEFAULT 'AVAILABLE'::character varying,
    total_sold integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.skus OWNER TO gate;

--
-- Name: transaction_logs; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.transaction_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    transaction_id uuid NOT NULL,
    status character varying(50) NOT NULL,
    message text,
    data jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.transaction_logs OWNER TO gate;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.transactions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    invoice_number character varying(50) NOT NULL,
    user_id uuid,
    product_id uuid NOT NULL,
    sku_id uuid NOT NULL,
    quantity integer DEFAULT 1,
    account_inputs jsonb NOT NULL,
    account_nickname character varying(200),
    provider_id uuid NOT NULL,
    provider_ref_id character varying(255),
    provider_serial_number character varying(255),
    provider_response jsonb,
    payment_channel_id uuid NOT NULL,
    payment_gateway_ref_id character varying(255),
    promo_id uuid,
    promo_code character varying(50),
    buy_price bigint NOT NULL,
    sell_price bigint NOT NULL,
    discount_amount bigint DEFAULT 0,
    payment_fee bigint DEFAULT 0,
    total_amount bigint NOT NULL,
    profit bigint GENERATED ALWAYS AS (((sell_price - buy_price) - discount_amount)) STORED,
    currency public.currency_code NOT NULL,
    status public.transaction_status DEFAULT 'PENDING'::public.transaction_status,
    payment_status public.payment_status DEFAULT 'UNPAID'::public.payment_status,
    contact_email character varying(255),
    contact_phone character varying(20),
    region public.region_code NOT NULL,
    ip_address inet,
    user_agent text,
    device_id character varying(255),
    paid_at timestamp with time zone,
    processed_at timestamp with time zone,
    completed_at timestamp with time zone,
    expired_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.transactions OWNER TO gate;

--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.user_sessions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    refresh_token_hash character varying(255) NOT NULL,
    ip_address inet,
    user_agent text,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_sessions OWNER TO gate;

--
-- Name: users; Type: TABLE; Schema: public; Owner: gate
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100),
    email character varying(255) NOT NULL,
    email_verified_at timestamp with time zone,
    phone_number character varying(20),
    password_hash character varying(255),
    profile_picture character varying(500),
    status public.user_status DEFAULT 'INACTIVE'::public.user_status,
    primary_region public.region_code DEFAULT 'ID'::public.region_code,
    current_region public.region_code DEFAULT 'ID'::public.region_code,
    balance_idr bigint DEFAULT 0,
    balance_myr bigint DEFAULT 0,
    balance_php bigint DEFAULT 0,
    balance_sgd bigint DEFAULT 0,
    balance_thb bigint DEFAULT 0,
    membership_level public.membership_level DEFAULT 'CLASSIC'::public.membership_level,
    total_spent_idr bigint DEFAULT 0,
    mfa_status public.mfa_status DEFAULT 'INACTIVE'::public.mfa_status,
    mfa_secret character varying(255),
    mfa_backup_codes text[],
    google_id character varying(255),
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT valid_email CHECK (((email)::text ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text))
);


ALTER TABLE public.users OWNER TO gate;

--
-- Data for Name: admin_sessions; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.admin_sessions (id, admin_id, refresh_token_hash, ip_address, user_agent, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: banner_regions; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.banner_regions (banner_id, region_code) FROM stdin;
7ef7d361-e377-4e8b-9585-82b64a82937e	ID
7ef7d361-e377-4e8b-9585-82b64a82937e	MY
7ef7d361-e377-4e8b-9585-82b64a82937e	PH
7ef7d361-e377-4e8b-9585-82b64a82937e	SG
7ef7d361-e377-4e8b-9585-82b64a82937e	TH
85f97a4f-6748-4c05-b6d3-c5c0af2ebfb6	ID
85f97a4f-6748-4c05-b6d3-c5c0af2ebfb6	MY
85f97a4f-6748-4c05-b6d3-c5c0af2ebfb6	PH
85f97a4f-6748-4c05-b6d3-c5c0af2ebfb6	SG
85f97a4f-6748-4c05-b6d3-c5c0af2ebfb6	TH
\.


--
-- Data for Name: banners; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: category_regions; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: contacts; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.contacts (id, email, phone, whatsapp, instagram, facebook, x, youtube, telegram, discord, updated_at) FROM stdin;
61dbbf00-e008-421e-b33f-5c6466097134	support@gate.co.id	+6281234567890	https://wa.me/6281234567890	https://instagram.com/gate.official	https://facebook.com/gate.official	https://x.com/gate_official	https://youtube.com/@gateofficial	https://t.me/gate_official	https://discord.gg/gate	2025-12-04 19:24:29.95517+00
\.


--
-- Data for Name: deposit_logs; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.deposit_logs (id, deposit_id, status, message, data, created_at) FROM stdin;
\.


--
-- Data for Name: deposits; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: email_verifications; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.email_verifications (id, user_id, token_hash, expires_at, verified_at, created_at) FROM stdin;
\.


--
-- Data for Name: languages; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.languages (id, code, name, country, image, is_default, is_active, sort_order, created_at, updated_at) FROM stdin;
06733d0e-d494-444c-b40b-b245549dfca7	id	Bahasa Indonesia	Indonesia	https://gate.nos.jkt-1.neo.id/flags/8378f017-a38f-4ad5-8c72-c8a94f311b41.svg	t	t	1	2025-12-04 19:24:29.721252+00	2025-12-04 21:41:38.629544+00
2f4eebaf-5321-4e39-8d34-a208cbf6306c	en	English	United States	https://gate.nos.jkt-1.neo.id/flags/1b710bd6-e038-455b-8049-323f691b50b8.svg	f	t	2	2025-12-04 19:24:29.721252+00	2025-12-04 21:41:44.207015+00
\.


--
-- Data for Name: mutations; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.mutations (id, user_id, invoice_number, reference_type, reference_id, description, mutation_type, amount, balance_before, balance_after, currency, admin_id, admin_note, created_at) FROM stdin;
5f262922-3368-4c79-96f1-3f18d848b703	f5c92b21-fe15-463c-bfef-65fedad2ad9f	\N	DEPOSIT	\N	Deposit via QRIS	CREDIT	100000	400000	500000	IDR	\N	\N	2025-12-04 19:24:33.485665+00
\.


--
-- Data for Name: password_resets; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.password_resets (id, user_id, token_hash, expires_at, used_at, created_at) FROM stdin;
\.


--
-- Data for Name: payment_channel_categories; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: payment_channel_gateways; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: payment_channel_regions; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.payment_channel_regions (channel_id, region_code) FROM stdin;
9457bd7d-216c-4ae4-a654-02272dec87d8	ID
6b754f8e-c124-4f00-9776-36d9c73fde9e	ID
f72f575c-4cd8-42fa-b1a3-6bf78bfd6a0c	ID
a45b214c-cd62-4be9-862c-83c034ddf4f2	ID
2162d8a6-906b-4c03-a2eb-c905f1228879	ID
d5606ef6-ee54-46df-9739-64220fdc1b28	ID
48604997-4746-47d8-862e-f49efd23bdd7	ID
c708c6d0-844d-47ac-8475-fb2f3b81b196	ID
0d28ee79-9767-4fbf-ad0b-732fb42a9e05	ID
a7251199-b644-4a34-be74-298819a2841e	ID
cb1707a4-285f-4260-9d4b-5908be50d087	ID
\.


--
-- Data for Name: payment_channels; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: payment_gateways; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: popups; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: product_fields; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: product_regions; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.product_regions (product_id, region_code) FROM stdin;
d3fd0451-8ad0-4dd2-99f2-96e451b49a6d	ID
f7d62818-0275-44f0-af91-d329b3be08a2	ID
e2552085-cffd-4a34-ab76-dca9e834fd16	ID
dd85e668-7ab8-4e5c-94e8-87cb867409dd	ID
0725bcb9-e733-4921-99b0-2ffd6763873d	ID
0725bcb9-e733-4921-99b0-2ffd6763873d	MY
0725bcb9-e733-4921-99b0-2ffd6763873d	PH
0725bcb9-e733-4921-99b0-2ffd6763873d	SG
0725bcb9-e733-4921-99b0-2ffd6763873d	TH
e16042d2-0a9c-4e23-9ae0-c488a0900d88	ID
\.


--
-- Data for Name: product_sections; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.product_sections (product_id, section_id) FROM stdin;
d3fd0451-8ad0-4dd2-99f2-96e451b49a6d	83e12b66-a25a-4e4e-8acf-bdbfd67e57df
e16042d2-0a9c-4e23-9ae0-c488a0900d88	83e12b66-a25a-4e4e-8acf-bdbfd67e57df
f7d62818-0275-44f0-af91-d329b3be08a2	83e12b66-a25a-4e4e-8acf-bdbfd67e57df
dd85e668-7ab8-4e5c-94e8-87cb867409dd	83e12b66-a25a-4e4e-8acf-bdbfd67e57df
e2552085-cffd-4a34-ab76-dca9e834fd16	83e12b66-a25a-4e4e-8acf-bdbfd67e57df
d3fd0451-8ad0-4dd2-99f2-96e451b49a6d	838caff3-a279-47dd-a95e-a658425bf1d5
d3fd0451-8ad0-4dd2-99f2-96e451b49a6d	95e9d0bc-55b1-477f-8629-0b7fc3e1ee9b
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: promo_payment_channels; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.promo_payment_channels (promo_id, channel_id) FROM stdin;
7b546b04-c6d5-4e70-8d73-98e205cf8738	c708c6d0-844d-47ac-8475-fb2f3b81b196
\.


--
-- Data for Name: promo_products; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: promo_regions; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.promo_regions (promo_id, region_code) FROM stdin;
0136662d-c470-4dba-bfd4-e4f26f40f3d7	ID
939fff99-942e-4c04-80f6-d79c8e574dd6	ID
e3e488e3-83e5-4fef-9703-f78108969401	ID
4e0f4be6-73a6-4b81-bfe1-c039dcacd085	ID
b7a452b5-e5bf-454e-88f9-a2b366b70c2f	ID
e3e488e3-83e5-4fef-9703-f78108969401	MY
7b546b04-c6d5-4e70-8d73-98e205cf8738	ID
\.


--
-- Data for Name: promo_usages; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: promos; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: providers; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: refunds; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.refunds (id, transaction_id, deposit_id, invoice_number, amount, currency, refund_to, status, reason, processed_by, created_at, completed_at) FROM stdin;
\.


--
-- Data for Name: regions; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.schema_migrations (version, dirty) FROM stdin;
1	t
\.


--
-- Data for Name: sections; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: sku_pricing; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: skus; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: transaction_logs; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: gate
--

COPY public.user_sessions (id, user_id, refresh_token_hash, ip_address, user_agent, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: gate
--



--
-- Name: admin_sessions admin_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.admin_sessions
    ADD CONSTRAINT admin_sessions_pkey PRIMARY KEY (id);


--
-- Name: admins admins_email_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_email_key UNIQUE (email);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: banner_regions banner_regions_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.banner_regions
    ADD CONSTRAINT banner_regions_pkey PRIMARY KEY (banner_id, region_code);


--
-- Name: banners banners_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.banners
    ADD CONSTRAINT banners_pkey PRIMARY KEY (id);


--
-- Name: categories categories_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_code_key UNIQUE (code);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: category_regions category_regions_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.category_regions
    ADD CONSTRAINT category_regions_pkey PRIMARY KEY (category_id, region_code);


--
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


--
-- Name: deposit_logs deposit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.deposit_logs
    ADD CONSTRAINT deposit_logs_pkey PRIMARY KEY (id);


--
-- Name: deposits deposits_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.deposits
    ADD CONSTRAINT deposits_invoice_number_key UNIQUE (invoice_number);


--
-- Name: deposits deposits_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.deposits
    ADD CONSTRAINT deposits_pkey PRIMARY KEY (id);


--
-- Name: email_verifications email_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.email_verifications
    ADD CONSTRAINT email_verifications_pkey PRIMARY KEY (id);


--
-- Name: languages languages_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT languages_code_key UNIQUE (code);


--
-- Name: languages languages_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT languages_pkey PRIMARY KEY (id);


--
-- Name: mutations mutations_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.mutations
    ADD CONSTRAINT mutations_pkey PRIMARY KEY (id);


--
-- Name: password_resets password_resets_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_pkey PRIMARY KEY (id);


--
-- Name: payment_channel_categories payment_channel_categories_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_channel_categories
    ADD CONSTRAINT payment_channel_categories_code_key UNIQUE (code);


--
-- Name: payment_channel_categories payment_channel_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_channel_categories
    ADD CONSTRAINT payment_channel_categories_pkey PRIMARY KEY (id);


--
-- Name: payment_channel_gateways payment_channel_gateways_channel_id_payment_type_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_channel_gateways
    ADD CONSTRAINT payment_channel_gateways_channel_id_payment_type_key UNIQUE (channel_id, payment_type);


--
-- Name: payment_channel_gateways payment_channel_gateways_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_channel_gateways
    ADD CONSTRAINT payment_channel_gateways_pkey PRIMARY KEY (id);


--
-- Name: payment_channel_regions payment_channel_regions_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_channel_regions
    ADD CONSTRAINT payment_channel_regions_pkey PRIMARY KEY (channel_id, region_code);


--
-- Name: payment_channels payment_channels_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_channels
    ADD CONSTRAINT payment_channels_code_key UNIQUE (code);


--
-- Name: payment_channels payment_channels_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_channels
    ADD CONSTRAINT payment_channels_pkey PRIMARY KEY (id);


--
-- Name: payment_gateways payment_gateways_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_gateways
    ADD CONSTRAINT payment_gateways_code_key UNIQUE (code);


--
-- Name: payment_gateways payment_gateways_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_gateways
    ADD CONSTRAINT payment_gateways_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_code_key UNIQUE (code);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: popups popups_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.popups
    ADD CONSTRAINT popups_pkey PRIMARY KEY (id);


--
-- Name: popups popups_region_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.popups
    ADD CONSTRAINT popups_region_code_key UNIQUE (region_code);


--
-- Name: product_fields product_fields_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.product_fields
    ADD CONSTRAINT product_fields_pkey PRIMARY KEY (id);


--
-- Name: product_fields product_fields_product_id_key_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.product_fields
    ADD CONSTRAINT product_fields_product_id_key_key UNIQUE (product_id, key);


--
-- Name: product_regions product_regions_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.product_regions
    ADD CONSTRAINT product_regions_pkey PRIMARY KEY (product_id, region_code);


--
-- Name: product_sections product_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.product_sections
    ADD CONSTRAINT product_sections_pkey PRIMARY KEY (product_id, section_id);


--
-- Name: products products_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_code_key UNIQUE (code);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_slug_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_slug_key UNIQUE (slug);


--
-- Name: promo_payment_channels promo_payment_channels_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promo_payment_channels
    ADD CONSTRAINT promo_payment_channels_pkey PRIMARY KEY (promo_id, channel_id);


--
-- Name: promo_products promo_products_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promo_products
    ADD CONSTRAINT promo_products_pkey PRIMARY KEY (promo_id, product_id);


--
-- Name: promo_regions promo_regions_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promo_regions
    ADD CONSTRAINT promo_regions_pkey PRIMARY KEY (promo_id, region_code);


--
-- Name: promo_usages promo_usages_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promo_usages
    ADD CONSTRAINT promo_usages_pkey PRIMARY KEY (id);


--
-- Name: promos promos_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promos
    ADD CONSTRAINT promos_code_key UNIQUE (code);


--
-- Name: promos promos_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promos
    ADD CONSTRAINT promos_pkey PRIMARY KEY (id);


--
-- Name: providers providers_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_code_key UNIQUE (code);


--
-- Name: providers providers_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_pkey PRIMARY KEY (id);


--
-- Name: refunds refunds_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT refunds_pkey PRIMARY KEY (id);


--
-- Name: regions regions_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.regions
    ADD CONSTRAINT regions_code_key UNIQUE (code);


--
-- Name: regions regions_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.regions
    ADD CONSTRAINT regions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: roles roles_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_code_key UNIQUE (code);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (version);


--
-- Name: sections sections_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_code_key UNIQUE (code);


--
-- Name: sections sections_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_pkey PRIMARY KEY (id);


--
-- Name: settings settings_category_key_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_category_key_key UNIQUE (category, key);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (id);


--
-- Name: sku_pricing sku_pricing_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.sku_pricing
    ADD CONSTRAINT sku_pricing_pkey PRIMARY KEY (id);


--
-- Name: sku_pricing sku_pricing_sku_id_region_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.sku_pricing
    ADD CONSTRAINT sku_pricing_sku_id_region_code_key UNIQUE (sku_id, region_code);


--
-- Name: skus skus_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.skus
    ADD CONSTRAINT skus_code_key UNIQUE (code);


--
-- Name: skus skus_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.skus
    ADD CONSTRAINT skus_pkey PRIMARY KEY (id);


--
-- Name: skus skus_provider_id_provider_sku_code_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.skus
    ADD CONSTRAINT skus_provider_id_provider_sku_code_key UNIQUE (provider_id, provider_sku_code);


--
-- Name: transaction_logs transaction_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.transaction_logs
    ADD CONSTRAINT transaction_logs_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_invoice_number_key UNIQUE (invoice_number);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_google_id_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_google_id_key UNIQUE (google_id);


--
-- Name: users users_phone_number_key; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_number_key UNIQUE (phone_number);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_admins_email; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_admins_email ON public.admins USING btree (email);


--
-- Name: idx_admins_role; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_admins_role ON public.admins USING btree (role_id);


--
-- Name: idx_admins_status; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_admins_status ON public.admins USING btree (status);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_admin; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_audit_logs_admin ON public.audit_logs USING btree (admin_id);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_audit_logs_resource; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_audit_logs_resource ON public.audit_logs USING btree (resource);


--
-- Name: idx_deposits_created_at; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_deposits_created_at ON public.deposits USING btree (created_at DESC);


--
-- Name: idx_deposits_invoice; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_deposits_invoice ON public.deposits USING btree (invoice_number);


--
-- Name: idx_deposits_status; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_deposits_status ON public.deposits USING btree (status);


--
-- Name: idx_deposits_user; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_deposits_user ON public.deposits USING btree (user_id);


--
-- Name: idx_mutations_created_at; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_mutations_created_at ON public.mutations USING btree (created_at DESC);


--
-- Name: idx_mutations_type; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_mutations_type ON public.mutations USING btree (mutation_type);


--
-- Name: idx_mutations_user; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_mutations_user ON public.mutations USING btree (user_id);


--
-- Name: idx_products_category; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_products_category ON public.products USING btree (category_id);


--
-- Name: idx_products_code; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_products_code ON public.products USING btree (code);


--
-- Name: idx_products_inquiry_slug; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_products_inquiry_slug ON public.products USING btree (inquiry_slug) WHERE (inquiry_slug IS NOT NULL);


--
-- Name: idx_products_is_active; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_products_is_active ON public.products USING btree (is_active);


--
-- Name: idx_products_is_popular; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_products_is_popular ON public.products USING btree (is_popular);


--
-- Name: idx_products_slug; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_products_slug ON public.products USING btree (slug);


--
-- Name: idx_promo_usages_promo; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_promo_usages_promo ON public.promo_usages USING btree (promo_id);


--
-- Name: idx_promo_usages_used_at; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_promo_usages_used_at ON public.promo_usages USING btree (used_at DESC);


--
-- Name: idx_promo_usages_user; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_promo_usages_user ON public.promo_usages USING btree (user_id);


--
-- Name: idx_promos_code; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_promos_code ON public.promos USING btree (code);


--
-- Name: idx_promos_expired_at; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_promos_expired_at ON public.promos USING btree (expired_at);


--
-- Name: idx_promos_is_active; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_promos_is_active ON public.promos USING btree (is_active);


--
-- Name: idx_sku_pricing_region; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_sku_pricing_region ON public.sku_pricing USING btree (region_code);


--
-- Name: idx_sku_pricing_sku; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_sku_pricing_sku ON public.sku_pricing USING btree (sku_id);


--
-- Name: idx_skus_code; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_skus_code ON public.skus USING btree (code);


--
-- Name: idx_skus_is_active; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_skus_is_active ON public.skus USING btree (is_active);


--
-- Name: idx_skus_product; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_skus_product ON public.skus USING btree (product_id);


--
-- Name: idx_skus_provider; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_skus_provider ON public.skus USING btree (provider_id);


--
-- Name: idx_skus_section; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_skus_section ON public.skus USING btree (section_id);


--
-- Name: idx_transactions_created_at; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_transactions_created_at ON public.transactions USING btree (created_at DESC);


--
-- Name: idx_transactions_invoice; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_transactions_invoice ON public.transactions USING btree (invoice_number);


--
-- Name: idx_transactions_payment_status; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_transactions_payment_status ON public.transactions USING btree (payment_status);


--
-- Name: idx_transactions_product; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_transactions_product ON public.transactions USING btree (product_id);


--
-- Name: idx_transactions_provider; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_transactions_provider ON public.transactions USING btree (provider_id);


--
-- Name: idx_transactions_region; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_transactions_region ON public.transactions USING btree (region);


--
-- Name: idx_transactions_sku; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_transactions_sku ON public.transactions USING btree (sku_id);


--
-- Name: idx_transactions_status; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_transactions_status ON public.transactions USING btree (status);


--
-- Name: idx_transactions_user; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_transactions_user ON public.transactions USING btree (user_id);


--
-- Name: idx_user_sessions_expires_at; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_user_sessions_expires_at ON public.user_sessions USING btree (expires_at);


--
-- Name: idx_user_sessions_user_id; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_user_sessions_user_id ON public.user_sessions USING btree (user_id);


--
-- Name: idx_users_created_at; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_users_created_at ON public.users USING btree (created_at DESC);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_google_id; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_users_google_id ON public.users USING btree (google_id);


--
-- Name: idx_users_membership; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_users_membership ON public.users USING btree (membership_level);


--
-- Name: idx_users_phone; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_users_phone ON public.users USING btree (phone_number);


--
-- Name: idx_users_primary_region; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_users_primary_region ON public.users USING btree (primary_region);


--
-- Name: idx_users_status; Type: INDEX; Schema: public; Owner: gate
--

CREATE INDEX idx_users_status ON public.users USING btree (status);


--
-- Name: admins update_admins_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_admins_updated_at BEFORE UPDATE ON public.admins FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: banners update_banners_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_banners_updated_at BEFORE UPDATE ON public.banners FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: categories update_categories_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_categories_updated_at BEFORE UPDATE ON public.categories FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: deposits update_deposits_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_deposits_updated_at BEFORE UPDATE ON public.deposits FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: languages update_languages_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_languages_updated_at BEFORE UPDATE ON public.languages FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: payment_channels update_payment_channels_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_payment_channels_updated_at BEFORE UPDATE ON public.payment_channels FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: payment_gateways update_payment_gateways_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_payment_gateways_updated_at BEFORE UPDATE ON public.payment_gateways FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: popups update_popups_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_popups_updated_at BEFORE UPDATE ON public.popups FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: products update_products_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_products_updated_at BEFORE UPDATE ON public.products FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: promos update_promos_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_promos_updated_at BEFORE UPDATE ON public.promos FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: providers update_providers_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_providers_updated_at BEFORE UPDATE ON public.providers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: regions update_regions_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_regions_updated_at BEFORE UPDATE ON public.regions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: roles update_roles_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_roles_updated_at BEFORE UPDATE ON public.roles FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: sections update_sections_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_sections_updated_at BEFORE UPDATE ON public.sections FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: settings update_settings_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_settings_updated_at BEFORE UPDATE ON public.settings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: sku_pricing update_sku_pricing_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_sku_pricing_updated_at BEFORE UPDATE ON public.sku_pricing FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: skus update_skus_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_skus_updated_at BEFORE UPDATE ON public.skus FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: transactions update_transactions_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_transactions_updated_at BEFORE UPDATE ON public.transactions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: gate
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: admin_sessions admin_sessions_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.admin_sessions
    ADD CONSTRAINT admin_sessions_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.admins(id) ON DELETE CASCADE;


--
-- Name: admins admins_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.admins(id);


--
-- Name: admins admins_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: audit_logs audit_logs_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.admins(id);


--
-- Name: banner_regions banner_regions_banner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.banner_regions
    ADD CONSTRAINT banner_regions_banner_id_fkey FOREIGN KEY (banner_id) REFERENCES public.banners(id) ON DELETE CASCADE;


--
-- Name: category_regions category_regions_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.category_regions
    ADD CONSTRAINT category_regions_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: deposit_logs deposit_logs_deposit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.deposit_logs
    ADD CONSTRAINT deposit_logs_deposit_id_fkey FOREIGN KEY (deposit_id) REFERENCES public.deposits(id) ON DELETE CASCADE;


--
-- Name: deposits deposits_cancelled_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.deposits
    ADD CONSTRAINT deposits_cancelled_by_fkey FOREIGN KEY (cancelled_by) REFERENCES public.admins(id);


--
-- Name: deposits deposits_confirmed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.deposits
    ADD CONSTRAINT deposits_confirmed_by_fkey FOREIGN KEY (confirmed_by) REFERENCES public.admins(id);


--
-- Name: deposits deposits_payment_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.deposits
    ADD CONSTRAINT deposits_payment_channel_id_fkey FOREIGN KEY (payment_channel_id) REFERENCES public.payment_channels(id);


--
-- Name: deposits deposits_payment_gateway_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.deposits
    ADD CONSTRAINT deposits_payment_gateway_id_fkey FOREIGN KEY (payment_gateway_id) REFERENCES public.payment_gateways(id);


--
-- Name: deposits deposits_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.deposits
    ADD CONSTRAINT deposits_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: email_verifications email_verifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.email_verifications
    ADD CONSTRAINT email_verifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: mutations mutations_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.mutations
    ADD CONSTRAINT mutations_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.admins(id);


--
-- Name: mutations mutations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.mutations
    ADD CONSTRAINT mutations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: password_resets password_resets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payment_channel_gateways payment_channel_gateways_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_channel_gateways
    ADD CONSTRAINT payment_channel_gateways_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.payment_channels(id) ON DELETE CASCADE;


--
-- Name: payment_channel_gateways payment_channel_gateways_gateway_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_channel_gateways
    ADD CONSTRAINT payment_channel_gateways_gateway_id_fkey FOREIGN KEY (gateway_id) REFERENCES public.payment_gateways(id);


--
-- Name: payment_channel_regions payment_channel_regions_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_channel_regions
    ADD CONSTRAINT payment_channel_regions_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.payment_channels(id) ON DELETE CASCADE;


--
-- Name: payment_channels payment_channels_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.payment_channels
    ADD CONSTRAINT payment_channels_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.payment_channel_categories(id);


--
-- Name: product_fields product_fields_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.product_fields
    ADD CONSTRAINT product_fields_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_regions product_regions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.product_regions
    ADD CONSTRAINT product_regions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_sections product_sections_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.product_sections
    ADD CONSTRAINT product_sections_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_sections product_sections_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.product_sections
    ADD CONSTRAINT product_sections_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id) ON DELETE CASCADE;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: promo_payment_channels promo_payment_channels_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promo_payment_channels
    ADD CONSTRAINT promo_payment_channels_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.payment_channels(id) ON DELETE CASCADE;


--
-- Name: promo_payment_channels promo_payment_channels_promo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promo_payment_channels
    ADD CONSTRAINT promo_payment_channels_promo_id_fkey FOREIGN KEY (promo_id) REFERENCES public.promos(id) ON DELETE CASCADE;


--
-- Name: promo_products promo_products_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promo_products
    ADD CONSTRAINT promo_products_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: promo_products promo_products_promo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promo_products
    ADD CONSTRAINT promo_products_promo_id_fkey FOREIGN KEY (promo_id) REFERENCES public.promos(id) ON DELETE CASCADE;


--
-- Name: promo_regions promo_regions_promo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promo_regions
    ADD CONSTRAINT promo_regions_promo_id_fkey FOREIGN KEY (promo_id) REFERENCES public.promos(id) ON DELETE CASCADE;


--
-- Name: promo_usages promo_usages_promo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promo_usages
    ADD CONSTRAINT promo_usages_promo_id_fkey FOREIGN KEY (promo_id) REFERENCES public.promos(id);


--
-- Name: promo_usages promo_usages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.promo_usages
    ADD CONSTRAINT promo_usages_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: refunds refunds_deposit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT refunds_deposit_id_fkey FOREIGN KEY (deposit_id) REFERENCES public.deposits(id);


--
-- Name: refunds refunds_processed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT refunds_processed_by_fkey FOREIGN KEY (processed_by) REFERENCES public.admins(id);


--
-- Name: refunds refunds_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT refunds_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id);


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: sku_pricing sku_pricing_sku_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.sku_pricing
    ADD CONSTRAINT sku_pricing_sku_id_fkey FOREIGN KEY (sku_id) REFERENCES public.skus(id) ON DELETE CASCADE;


--
-- Name: skus skus_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.skus
    ADD CONSTRAINT skus_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: skus skus_provider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.skus
    ADD CONSTRAINT skus_provider_id_fkey FOREIGN KEY (provider_id) REFERENCES public.providers(id);


--
-- Name: skus skus_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.skus
    ADD CONSTRAINT skus_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id);


--
-- Name: transaction_logs transaction_logs_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.transaction_logs
    ADD CONSTRAINT transaction_logs_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON DELETE CASCADE;


--
-- Name: transactions transactions_payment_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_payment_channel_id_fkey FOREIGN KEY (payment_channel_id) REFERENCES public.payment_channels(id);


--
-- Name: transactions transactions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: transactions transactions_promo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_promo_id_fkey FOREIGN KEY (promo_id) REFERENCES public.promos(id);


--
-- Name: transactions transactions_provider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_provider_id_fkey FOREIGN KEY (provider_id) REFERENCES public.providers(id);


--
-- Name: transactions transactions_sku_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_sku_id_fkey FOREIGN KEY (sku_id) REFERENCES public.skus(id);


--
-- Name: transactions transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_sessions user_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gate
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict xUgNCanteOacbVAnSzAlnFZAAf81rMeTMDb8Txeq572gu2eoxrERk7atgNXi2Yd

